.hide{
    display:none;
}
a{
    color:blue;
}
img{
    height:200px;
}
p{
    font-size:20px;
}
h3{
    font-size:20px;
}
.arrow{
    color:green;
    font-family: 'ZCOOL XiaoWei', serif;
}
.lantern{
    color:lime;
    font-family: 'Titillium Web', sans-serif;
}
.super{
    color:red;
    font-family: 'Open Sans Condensed', sans-serif;
}
.bat{
    font-family: 'Germania One', cursive;
}
body{
    color:white;
    background-color:black;
}